<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced Search</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>


  <div class="navbar">

        <a class="navlinks" href="../index.html"><img alt="Google" height="33" src="../static/images/googlelogo.png" width="92"></a>
		<a class="navlinks" href="image.html">Images</a>
	</div>
</div>



 <div class="breakline"></div>
    <div class="headerbar">
            <label style="margin-left:10px;"> Advanced Search</label>
    </div>
 <div class="breakline"></div>



<div>
    <form action="https://google.com/search" class="advancedform" >
         <div id="infoLoud" class="info" >
            <span>Find pages with...</span>
        </div>
        <div class="emptyblock">
        </div>
        <div id="infoSoft" class="info">
            <span>all these words:</span>
        </div>

    </form>

</div>


    </body>
</html>
