<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced Search</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>


  <div class="navbar">

        <a class="navlinks" href="../index.html"><img alt="Google" height="33" src="../static/images/googlelogo.png" width="92"></a>
		<a class="navlinks" href="image.html">Images</a>
	</div>
</div>



 <div class="breakline"></div>
    <div class="headerbar">
            <label style="margin-left:10px;"> Advanced Search</label>
    </div>
 <div class="breakline"></div>



<div>
    <form action="https://google.com/search" class="advancedform" >

    <table class="info" >
        <tr><td class="col-1"><span id="infoLoud">Find pages with...</span></td></tr>
        <tr>
        <td >
            <span>all these words:</span>
     </td>
     <td>
        <input class="col-2" type="text" name="as_q">
    </td>
     </tr>
      <tr>
        <td >
            <span>this exact word or phrase:</span>
     </td>
     <td>
        <input class="col-2" type="text" name="as_epq">
    </td>
     </tr>
      <tr>
        <td >
            <span>any of these words:</span>
     </td>
     <td>
        <input class="col-2" type="text" name="as_oq">
    </td>
     </tr>
      <tr>
        <td >
            <span>none of these words:</span>
     </td>
     <td>
        <input class="col-2" type="text" name="as_eq" >
    </td>
     </tr>
     <tr>
        <td class="col-1"></td>
        <td style="text-align: right;"><input id="advancedButton" type="submit" value="Advanced Search" ><td>
         
     </tr>
 </table>


    </form>

</div>


    </body>
</html>
