<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
      <div class="navbar">
            <a class="navlinks" href="../index.html"><img alt="Google" height="33" src="../static/images/googlelogo.png" width="92" ></a>
            <a class="navlinks" href="advanced.html">Advanced</a>
            
        </div>
    </div>
    <div class="main">
        <img alt="Google" height="92" src="../static/images/imagelogo.png" style="padding-top:109px" width="272">
         <form action="https://www.google.com/search">
            <input type="hidden" name="tbm" value="isch">
            <input class="searchbar" type="text"  name="q">
            <input type="submit" value="Google Search">
        </form>
    </div>

    </body>
</html>


